{
    "arrowParens": "always",
    "semi": false,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "none",
    "useTabs": false,
    "tailwindConfig": "./tailwind.config.js",
    "editor.formatOnSave": true
}
