@font-face {
  font-family: 'Khmer OS Battambang';
  src: url('~assets/fonts/Battambang/subset-KhmerOSbattambang.eot');
  src: url('~assets/fonts/Battambang/subset-KhmerOSbattambang.eot?#iefix')
      format('embedded-opentype'),
    url('~assets/fonts/Battambang/subset-KhmerOSbattambang.woff2')
      format('woff2'),
    url('~assets/fonts/Battambang/subset-KhmerOSbattambang.woff') format('woff'),
    url('~assets/fonts/Battambang/subset-KhmerOSbattambang.ttf')
      format('truetype');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+1780-17FF, U+200C, U+25CC;
}

@font-face {
  font-family: 'Battambang';
  src: url('~assets/fonts/Battambang/subset-KhmerOSbattambang.eot');
  src: url('~assets/fonts/Battambang/subset-KhmerOSbattambang.eot?#iefix')
      format('embedded-opentype'),
    url('~assets/fonts/Battambang/subset-KhmerOSbattambang.woff2')
      format('woff2'),
    url('~assets/fonts/Battambang/subset-KhmerOSbattambang.woff') format('woff'),
    url('~assets/fonts/Battambang/subset-KhmerOSbattambang.ttf')
      format('truetype');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+1780-17FF, U+200C, U+25CC;
}
