#admin {
  .p-menu-list .p-menuitem .p-menuitem-link:focus {
    outline: none !important;
    border: 0 !important;
    box-shadow: none !important;
  }

  .nuxt-link-active {
    @apply text-gray-800 border-red-600;
  }

  .property-list-style {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-x-5 gap-y-5;
  }

  .form-style {
    @apply bg-gray-50 border border-gray-200 focus:ring-0 text-gray-700 leading-tight rounded-md w-full py-2 px-3;
  }

  .text-form-style {
    @apply block text-gray-700 text-xs font-semibold mb-1 mt-2;
  }

  .p-menu-list .menu-danger .p-menuitem-link > span {
    color: var(--red-500) !important;
  }

  .admin-property-card.fa-calendar {
    @apply border-pink-400 text-pink-400 hover:text-white hover:bg-pink-400;
  }

  .admin-property-card.fa-share-alt-square {
    @apply border-blue-400 text-blue-400 hover:text-white hover:bg-blue-400;
  }

  .admin-property-card.fa-print {
    @apply border-yellow-400 text-yellow-400 hover:text-white hover:bg-yellow-400;
  }

  .admin-property-card.fa-newspaper-o {
    @apply border-blue-700 text-blue-700 hover:text-white hover:bg-blue-700;
  }

  .admin-property-card.fa-phone {
    @apply border-blue-600 text-blue-600 hover:text-white hover:bg-blue-600;
  }

  .admin-property-card.fa-tty {
    @apply border-blue-600 text-blue-600 hover:text-white hover:bg-blue-600;
  }

  .admin-property-card.fa-map-marker {
    @apply border-purple-600 text-purple-600 hover:text-white hover:bg-purple-600;
  }

  .admin-property-card.fa-pencil-square-o {
    @apply border-green-400 text-green-400 hover:text-white hover:bg-green-400;
  }

  .admin-property-card.fa-trash {
    @apply border-red-400 text-red-400 hover:text-white hover:bg-red-400;
  }

  .admin-search-input-form {
    @apply bg-white text-gray-700 border border-gray-500 border-opacity-40 leading-tight rounded-md w-full h-8 px-3;
  }

  .p-panel-title {
    color: rgb(241, 82, 19) !important;
  }

  .p-panel-content {
    background-color: rgba(249, 250, 251) !important;
  }

  .p-fieldset-legend {
    border: 1px solid rgb(102, 102, 102) !important;
    padding: 4px !important;
  }

  .admin_property_form_input .p-button-label {
    margin: -4px !important;
  }

  .admin_property_form_input {
    @apply h-9 w-full;
  }

  // Image Preview Components
  .p-image-toolbar {
    z-index: 1;
  }

  @media (max-width: 640px) {
    .admin-speed-dial
      .p-button.p-component.p-button-icon-only.p-speeddial-button {
      width: 45px !important;
      height: 45px !important;
      right: 15px !important;
    }
    .admin-speed-dial {
      right: 58px !important;
      bottom: -240px !important;
    }
    .admin-speed-dial .p-speeddial-action {
      width: 40px !important;
      height: 40px !important;
    }
  }
}
